backoffice/FondaDataAccess/FondaDataAccess.csproj
backoffice/FondaDataAccess/FondaDataAccess.csproj
backoffice/FondaDataAccess/FondaDataAccess.csproj
backoffice/FondaBeckEndLogic/ResourceMessages.resx